---
import "../styles/global.css";
import "@fontsource/luckiest-guy";
import "@fontsource/bungee-inline";

import Nav from "../components/nav.astro";
import Title from "../components/title.astro";

interface Props {
  category: string;
}

export function getStaticPaths() {
  return [
    { params: { category: "code" } },
    { params: { category: "life" } },
    { params: { category: "recipe" } },
    { params: { category: "tech" } },
  ];
}

const { category } = Astro.params;

const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
const categoryPosts = posts.filter(
  (post: any) =>
    post.frontmatter.category.toLowerCase() === category.toLowerCase()
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>mager.co / {category}</title>
  </head>
  <body>
    <Title page={category} />
    <Nav />
    <ul>
      {
        categoryPosts.map((post: any) => (
          <li>
            <span>{post.frontmatter.pubDate}</span>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </body>
</html>
