---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="/styles.css"> 
  </head>

  <body>
    <Header />
    <main>
      <section>
        <div class="intro">
          <h1>Feed</h1>
          <p>Mostly ramblings about code, food, and my hobbies.</p>
        </div>
        <div class="list">
          <ul>
            {posts.map((post) => (
              <li>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', { year: '2-digit', month: '2-digit', day: '2-digit' })}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
            ))}
          </ul>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>