---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const featuredPost = posts[8];
if (!featuredPost) {
  throw new Error("Could not find featured post");
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="intro">
        <p>
          <strong>Dev 2024 Update:</strong> I am currently working on <a href="https://mager.co" target="_blank">Beatbrain</a>, an app to help you discover and share your favorite songs.
        </p>
      </div>
      <div class="hero">
        <h5>Featured Post</h5>
        <h3>
          <a href={featuredPost.url}>{featuredPost.frontmatter.title}</a>
        </h3>
        <p class="updated">
          Updated <time datetime={featuredPost.frontmatter.pubDate}>
            {
              new Date(featuredPost.frontmatter.updatedDate).toLocaleDateString(
                "en-us",
                {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                }
              )
            }
          </time>
        </p>
        {
          featuredPost.frontmatter.heroImage && (
            <p>
              <img src={featuredPost.frontmatter.heroImage} />
            </p>
          )
        }
        <p>{featuredPost.frontmatter.description}</p>
      </div>
    </main>
    <Footer />
  </body>
</html>
